In [1]:
!pip install ibm_db

Requirement already satisfied: ibm_db in c:\personal\ibm-cloud-database-connections\myenv\lib\site-packages (3.2.5)

In [2]:
import os

os.add_dll_directory('C:\\Personal\\IBM-Cloud-Database-Connections\\myenv\Lib\\site-packages\\clidriver\\bin') 

import ibm_db
import ibm_db_dbi

In [3]:
# Connection parameters
dsn_hostname = "815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
dsn_uid = "ywc60234"
dsn_pwd = "WWAij8PA9hBNQrj7"
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"
dsn_port = "30367"
dsn_protocol = "TCPIP"
dsn_security = "SSL"

In [5]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  ywc60234 on host:  815fa4db-dc03-4c70-869a-a9cc13f33084.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [7]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = "create table SB4C(id INTEGER PRIMARY KEY NOT NULL, fname varchar(20), lname varchar(20), city varchar(20), ccode char(2))"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name "YWC60234.SB4C" of type "TABLE".  SQLSTATE=42710  SQLCODE=-601

In [ ]:
#Construct the query - replace ... with the insert statement
insertQuery = "insert into SB4C values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [ ]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery2 = "insert into SB4C values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

#execute the statement
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0803N  One or more values in the INSERT statement, UPDATE statement, or foreign key update caused by a DELETE statement are not valid because the primary key, unique constraint or unique index identified by "1" constrains table "YWC60234.SB4C" from having duplicate values for the index key.  SQLSTATE=23505 SQLCODE=-803

In [ ]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from SB4C"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}